@import "../../../assets/styles/Tools/variables";

.info-block {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.info-block--image {
    background-color: $brand-color--light;
    max-width: 4rem;
    min-width: 4rem;
    width: 100%;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-block--content {
    padding-left: 2rem;
    flex-direction: column;
    text-align: left;
}

.info-block--content > * {
    margin: 0px;
}

.info-block--content h1.negative {
    color: $base-red;
}

.info-block--content h1.positive {
    color: $base-green;
}