<header class="topbar">
    <img class="logo" alt="Asset Nexus Logo" src="assets/images/Logo.svg" />
    <div class="topbar-nav-group">
        <div class="nav-group notification">
            <app-icon [id]="'notification'" [classList]="['icon-size-28']"></app-icon>
        </div>
        <div class="nav-group mail">                      
            <app-icon [id]="'mail'" [classList]="['icon-size-26']"></app-icon>
        </div>
        <div class="nav-group avatar">
            <img class="avatar" alt="Avatar" src="assets/avatars/Gavin.png" />
        </div>
    </div>
</header>
