select {
  background-image:
    linear-gradient(45deg, transparent 50%, #577BFF 50%),
    linear-gradient(135deg, #577BFF 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 10px), 
    calc(100% - 10px) calc(1em + 10px), 
    calc(100% - 2.5em) 0.8em;
  background-size:
    10px 10px, 
    10px 10px, 
    1px 2em;
  background-repeat: no-repeat;

  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #E0E7FF;
  background-color:rgba(224, 231, 255, 0.2);
  min-width: 280px;

  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


select:focus {
  background-image:
    linear-gradient(45deg, #577BFF 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #577BFF 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 10px) calc(1em + 10px), 
    calc(100% - 20px) calc(1em + 10px), 
    calc(100% - 2.5em) 0.8em;
  outline: 0;
}
