@import '../Tools/variables';

button {
    padding: 1rem;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    margin-bottom: 0.5rem;
    border: none;
}

button:hover {
    cursor: not-allowed;
}

button.brand {
    background-color: $brand-color;
}
button.brand:hover {
    opacity: 0.8;
}


button.brand-alt {
    background-color: $brand-color--light;
    color: $brand-color;
}

button.brand-alt:hover {
    opacity: 0.8;
}