// Colors

$brand-color: #344bfd;
$brand-color--light: #D5DEFF;
$brand-color--alt: #8C54FF;
$brand-color--alt--light: #decfff;

$base-grey: #BFC5D2;
$base-color-black: #000;


$base-red: #E50013;
$base-green: #008150;